body {
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    background-color: rgb(100, 140, 155);
    color: white;
    font-weight: bold;
    text-align: center;
}

div {
    border-style: dotted;
    border-radius: 10px;
    background-color: rgb(175, 210, 220);
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li:hover {
    background-color: rgb(139, 195, 211);
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: black;
}